{{#if logged_in}}
  <div>
    <a href='/character' class='btn create-new'>Create New Character</a>
  </div>

  <div class='row'>
    <div class='col-auto'>
      <h2 class='cap-letter'>Welcome {{name}}!</h2>
    </div>
  </div>
  <main>
    <section>
      {{#if characters.length}}
      <div class="col-md-6 project-list">
        <h3>Current Characters:</h3>

        {{#each characters as |character|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4>
              <a class="cap-letter" href="/character/{{character.id}}">{{character.name}}</a>
            </h4>
          </div>
          <div class="col-md-4">
            <button class="" data-id="{{character.id}}">DELETE</button>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </section>
  </main>

  <div class="community">
    <a href="https://www.youtube.com/@criticalrole" target="_blank">Community content brought to you by our friends at Critical Role</a>
    <div class="video">
      <iframe width="700" height="500" src="https://www.youtube.com/embed/BRXBvjrJXQk?autoplay=1" title="New Animated Campaign 3 Opening Title | It’s Thursday Night (Critical Role Theme)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
{{/if}}
  
  <footer>
    <p class='cap-letter'>
      Thank you
      {{name}}
      for using our character generator!
    </p>
  </footer>
</div>

<script src='./js/create.js'></script>
<script src='./js/profile.js'></script>